.buttons {
    display: flex;
  justify-content: center; /* Center the content horizontally */
  align-items: center; /* Center the content vertically */
  gap: 10px; /* Add space between the button and the dropdown */

}


.select {
    margin-left: 7.5%;
    width: 60%; /* Set the width as needed */
    height: 20; /* Set the height as needed */
  }
  
  /* Style the button */
  .button {
    margin-right: 7.5%;
    width: 60%; /* Set the width as needed */
    height: 20px; /* Set the height as needed */
    text-align: left;
    
  }

#storagetype {
    display: inline-block;
}

/* Style the dropdown button */
#knapp {
    background-color: gainsboro;
    color: green;
    border: none;
    cursor: pointer;
    border-radius: 5px; /* Add rounded corners */
    display: flex;
    align-items: center;
    justify-content: left;
  }
  
#title {
    margin-left: 20px;
}

  /* Style the select element */
  #storagetype {
    background-color: gainsboro;
    border: none; /* Add a border to the select element (you can remove this line if you want to remove the border) */
    color: green; /* Set text color to green */
    border-radius: 5px; /* Add rounded corners */
  }
  
  /* Remove the default outline/border on focus for the select element */
  .dropdown-select:focus {
    outline: none;
    border: none; /* Remove focus outline or border (for accessibility, you might want to provide a different focus style) */
  }
  
  hr {
    height: 4px;
    background-color: green;
    border: none;
  }

  .search-field {
    margin-left: 7.5%;
    margin-right: 7.5%;
    width: 100%; /* Set the width to your desired value (e.g., 200 pixels) */
    padding: 5px; /* Add padding as needed for styling */
    font-size: 10px; /* Set the font size as needed */
    border-radius: 5px;
  }
  
  .custom-hr {
    margin-left: 7.5%;
    margin-right: 7.5%;
    border: none; /* Remove the default border */
    border-top: 1px solid #ccc; /* Add a custom border with the desired style */
  }

  .container {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    
padding: 5px;/* Set the container's height as needed */
  }

  /* storage.css */
.ingredient-button {
  position:relative;
  display: flex; /* Make the buttons block-level elements */
  margin-bottom: 10px; /* Add vertical margin to create spacing */
  padding: 10px;
  background-color: white;
  outline-color: gray;
  color: green;
  border-radius: 5px; 
  border: 2px solid gray;
  width: 100%;
  text-align: left;
  align-items: center;
}

.ingredient-list {
  margin-bottom: 50px;
}

.small-button {
  position: absolute;
  background-color: white;
  outline-color: gray;
  color: green;
  border-radius: 5px;
  padding: 5px 10px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

  /* Position the plus button to the right */
  #plus-button {
    right: 40px; /* Adjust this value as needed for proper spacing */
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

  }

  /* Position the minus button to the right */
  #minus-button {
    right: 20px; /* Adjust this value as needed for proper spacing */
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

  }